<div class="container p-4">
    <div class="row">
        
        {{#each list}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="">
                            <h3 class="card-title text-uppercase">
                                {{this.titulo}}
                              
                            </h3>
                        </a>
                        <p>  {{this.contenido}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-bosy text-center">
                    <p>No tienes apuestas todavias</p>
                    <a href="/apuestas/apuesta"></a>
                </div>
            </div>
        {{/each}}

    </div>
</div>

<div class="container p-4">
    <div class="row">
        {{!--aqui van los partidos   --}}
        {{#each list}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="">
                            <h3 class="card-title text-uppercase">
                                {{this.titulo}}
                              
                            </h3>
                        </a>
                        <p>  {{this.contenido}}</p>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-bosy text-center">
                    <p>problema de carga </p>
                    <a href="/apuestas/apuesta"></a>
                </div>
            </div>
        {{/each}}

    </div>
</div>


